*{margin:0; padding:0;}
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body, ul, li, a, h1, h2, h3, h4, h5, h6, p{
    font-family: "Quicksand", sans-serif;
}

.header_area{

}

.header{
    display: flex;
    padding-top: 40px;
    padding-bottom: 30px;
    margin-left: 105px;
    margin-right: 105px;
}


.logo{
    width: 30%;
}

.menu{
    width: 70%;
    display: flex;
    justify-content: right;
}

.menu ul{
    list-style: none;
    padding-top: 10px;
}

.menu ul li{
    display: inline-block;
    padding: 0px 48px 0px 0px;
}

.menu ul li a{
    text-decoration: none;
    font-size: 15px;
    color: #000;
    
}

.btn{
    width: 75px;
    background: #000;
    color: #fff;
    border-radius: 3px;
    padding-top: 10px;
    padding-left: 5px;
}

.hero_area{
    padding-top: 100px;
    display: flex;
    background-color: #F4F5F6;
    width: 85%;
    margin: 15px auto;
    border-radius: 50px;
}

.right_side{
    width: 40%;
    margin-left: 135px;
}

.right_side h1{
    font-size: 50px;
    font-weight: 800;
    line-height: 1.3;
}

.h1_bg_1{
    background: #fff;
    display: inline-block;
    width: 245px;
    border-radius: 10px;
    padding: 0px 0px 0px 20px;
    margin: -18px;
    transform: skewX(3deg);
}

.h1_bg_2{
    background: #EBD96B;
    display: inline-block;
    width: 245px;
    border-radius: 10px;
    padding: 0px 0px 0px 20px;
    margin: -18px;
    transform: skewX(3deg);
}

.right_side p{
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.left_side{
    width: 40%;
}

.right_side img{
    width: 130px;
}

.right_side a{
    text-decoration: none;
    cursor: pointer;
    margin-left: 13px;
}

.univarsel_btn{
    background: #000;
    color: #fff;
    border-radius: 5px;
    padding: 11px;
    text-align: center;
    font-size: 15px;
}


.brand_curosel{
    background-color: #EBD96B;
}

.brand_curosel ul{
    display: flex;
    list-style: none;
    padding-top: 50px;
    padding-bottom: 30px;
}

.brand_curosel ul li{

}

.placeholder_img{
    padding: 0 0 0 92px;
}

.placeholder_img img{
    width: 160px;
}

.featured_items{
    margin-bottom: 50px;
    margin-top: 80px;
    position: relative;
}

.featured_items h1{
    font-weight: 800;
    margin-left: 105px;
    text-transform: uppercase;
}

.featured_items img{
    width: 140px;
    margin-left: 276px;
    position: absolute;
    margin-top: -22px;
    transform: rotate(-6deg);
    z-index: -99999;
}

.new_arraival {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 100px;
}
.featured_area {
}

.featured_area img{
    width: 300px;
    border-radius: 10px;
}
.text_area {
    width: 270px;
    padding-top: 20px;
}

.text_area h4{
    letter-spacing: 0.50px;
}

.text_area p{
    font-size: 13px;
    margin-top: 5px;
    padding-left: 3px;
    color: #7F7F7F;
    letter-spacing: 0.50px;
}

.icon_area {
    width: 20px;
    float: right;
    margin-top: -30px;
}

.fa-arrow-right{
    color: #6e6b6b;
}